@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lobster&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

a {
    font-family: 'Lobster', cursive;
    text-decoration: none;
    color: darkblue;
    margin-right: 20px;
    transition: color 0.5s ease;
  }

a:hover {
    color: #800020;
}

.link1 {
    font-weight: normal;
}

.link2 {
    font-weight: bold;
}

.link3 {
    font-weight: normal;
}